.statusBar{
    padding-top: 8%;
    padding-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.application{
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
}

.btn-next{
    background-color: #62929E;
    border-color:#62929E;
    color: white;
    float: right;
}

.btn-outline-next{
    background-color: #62929E;
    border-color:#62929E;
    color: white;
    float: left;
}

.btn-submit{
    background-color: #62929E;
    border-color:#62929E;
    color: white;
    float: right;
}

.checkbox-inline{
    margin-left: 10px;
}

#option{
    margin-left: 10px;
}