.btn-coast0 {
    background-color: #89BCE1;
    color: white;
}

.btn-coast0:hover {
    -moz-box-shadow:    inset 0px 0px 20px 2px #0000005b;
    -webkit-box-shadow: inset 0px 0px 20px 2px #0000005b;
    box-shadow:         inset 0px 0px 20px 2px #0000005b;
    border-color: #0000005b;
}

.jumbotron {
    background-image: url(images/Dog0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}