.container-fluid .row{
    padding: 45px;
}
  
.d-block {
    max-height: 300px;
    width: 550px;
}

.card-text{
    padding: 30px;
}
  
.container-athena {
    float: left;
    margin-left: 10%;
}

#carouselExampleIndicators {
    float: right;
    margin-right: 10%;
  
}

.btn-ask {
    background-color: #62929E;
    border-color: #62929E;
    color: white;
    float: right;
    margin-top: 10px;
}

.btn-ask:hover{
    background-color: rgb(69, 104, 112);
    border-color:rgb(69, 104, 112);
    color: white;
}


.clearfix {
    overflow: auto;
}

.card-img-top{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
  }
  
  .card {
    border:0;
    background-color: transparent;
  }
  
  div.btn-lady {
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 50px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: default;
    display: inline-block;
  }
  
  .btn-lady {
    background-color: #edabcb;
    border-color: #edabcb;
    color: white;
  }
  
  .btn-gent {
    background-color: #89bce1;
    border-color: #89bce1;
    color: white;
  }

  .pointer {
      cursor: default;
  }
  
  .carousel-inner {
    height: 300px;
    /* width:auto; */
    /*background-size: contain;*/
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
 }
  
  #info {
      margin-left: 5%;
      margin-right: 5%;
      /*align-items: flex-start;*/
  }

  ul{
    list-style:none;
}

  .btn-adopt {
    background-color: #385F71;
    border-color: #385F71;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .btn-sponsor {
    background-color: #546A7B;
    border-color: #546A7B;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-foster {
    background-color: #18435A;
    border-color: #18435A;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.btn-group-vertical{
    float: right;
}

.headercontent{
    margin-bottom: 3px;
    margin-top: -10px;
}


#button-ask {
    clear: both;
    margin-right: 10%;
}

#about-me {
    width: 40%;
}

#about-me ul {
    padding: 0;
}

#about-me ul > li {
    font-size: 1.5em;
    color: #62929E;
}

#animal-health {
    font-size: .9em;
    color: black;
}

